.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
  background: black;
  
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 800px;
}
li {
  display: flex;
}
.link {
  display: flex;
  align-items: center;
  color: white;
  font-size: xx-large;
  text-decoration: none;
}
.link:hover {
  color: rgb(194, 40, 40);
}
.link.active {
  color: rgb(194, 40, 40);
}
